html, body {
    margin: 0; padding: 0;
  }
  .shaper {
    background: gray url('/assets/img/background.svg') repeat 0 0;
    width: 100%;
    margin: 0;
    text-align: center;
    height: 550px;
    padding-top: 120px;
    box-sizing: border-box;
    -webkit-animation: slide 30s linear infinite;
  }

  @-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -512px -512px; }
}